* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    background: #888888;
  
    min-height: 100vh;
    padding: 40px;
  }
  
  .product-cars {
    background: #a8a8a8;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    margin: 2cm;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
  }

  .product-card {
    background: #a8a8a8;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    margin: 2cm;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
  }
  
  .image-section {
    flex: 1.2;
    background: linear-gradient(to bottom left, #002fff, #ffffff);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  
  .image-section img {
    width: 100%;
    max-width: 500px;
    transition: transform 0.3s ease;
  }
  
  .image-section img:hover {
    transform: scale(1.05);
  }
  
  .info-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .brand {
    font-size: 1rem;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .model {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    
  }
  
  .model span {
    color: #ff0000;
  }
  
  .description {
    font-size: 1rem;
    color: #444;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .features {
    font-size: 0.95rem;
    color: #222;
    margin-bottom: 20px;
  }
  
  .features div {
    margin-bottom: 5px;
  }
  
  .color-picker {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .color-picker span {
    margin-right: 10px;
    font-weight: 500;
  }
  
  .colors {
    display: flex;
    gap: 10px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #eee;
    transition: transform 0.2s;
  }
  
  .circle:hover {
    transform: scale(1.2);
  }
  
  .black {
    background: #000;
  }
  
  .green {
    background: #ffffff;
  }
  
  .selected {
    border: 2px solid #000;
  }
  
  .buy-button {
    padding: 12px 20px;
    background: #ffffff;
    color: #000;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .buy-button:hover {
    background: #858585;
  }